# **Data Cleaning**

## Objectives

* Prepare the data sets for for further analysis

## Inputs

* /workspace/housing-sales-price-prediction-dashboard/inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/house_prices_records.csv
* /workspace/housing-sales-price-prediction-dashboard/inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/inherited_houses.csv

## Outputs

* ./outputs/datasets/clean_house_prices_records.csv
* ./outputs/datasets/clean_inherited_houses.csv

---

# Change working directory

* We are assuming you will store the notebooks in a sub folder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/housing-sales-price-prediction-dashboard/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspace/housing-sales-price-prediction-dashboard'

---

# Import Packages

In [4]:
import numpy as np
import pandas as pd

---

## Load Data

In [5]:
df = pd.read_csv(f"inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/house_prices_records.csv")
print(df.shape)

(1460, 24)

In [6]:
df_inherited = pd.read_csv(f"inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/inherited_houses.csv")
print(df_inherited.shape)

(4, 23)

---

# Dataset Analysis

Note that there is no `id` field to mark row data uniqueness.

There are however differences in datatypes between the house_prices_records and inherited_houses.
* Certain fields are of type int64 in house_prices_records and of type float64 in inherited_houses and visa versa.

## Individual variable analysis

Inspect `WoodDeckSF` variable

In [7]:
df_wooddecksf = df.loc[df['WoodDeckSF'].notnull()]
df_wooddecksf

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,EnclosedPorch,GarageArea,GarageFinish,...,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,SalePrice
0,856,854.0,3.0,No,706,GLQ,150,0.0,548,RFn,...,65.0,196.0,61,5,7,856,0.0,2003,2003,208500
13,1494,0.0,3.0,Av,0,Unf,1494,NaN,840,RFn,...,91.0,306.0,33,5,7,1494,160.0,2006,2007,279500
20,1158,1218.0,4.0,Av,0,Unf,1158,NaN,853,RFn,...,101.0,380.0,154,5,8,1158,240.0,2005,2006,325300
23,1060,0.0,3.0,No,840,GLQ,200,NaN,572,NaN,...,44.0,0.0,110,7,5,1040,100.0,1976,1976,129900
34,1561,0.0,2.0,No,1153,GLQ,408,NaN,556,Fin,...,60.0,246.0,47,5,9,1561,203.0,2005,2005,277500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419,1844,0.0,3.0,Av,1110,Rec,734,216.0,540,RFn,...,NaN,312.0,73,5,6,1844,0.0,1969,1969,223000
1422,848,0.0,1.0,Av,686,GLQ,162,NaN,420,Fin,...,37.0,170.0,0,5,6,848,140.0,2003,2003,136500
1431,958,0.0,2.0,No,958,LwQ,0,NaN,440,RFn,...,NaN,0.0,60,6,6,958,0.0,1976,1976,143750
1455,953,694.0,3.0,No,0,Unf,953,NaN,460,RFn,...,62.0,0.0,40,5,6,953,0.0,1999,2000,175000
1459,1256,0.0,3.0,No,830,BLQ,136,0.0,276,Fin,...,75.0,0.0,68,6,5,1256,736.0,1965,1965,147500

In [8]:
df_wooddecksf['WoodDeckSF'].value_counts().sort_index(ascending=False)

736.0     1
550.0     1
466.0     1
431.0     1
416.0     1
382.0     1
364.0     1
356.0     1
355.0     1
351.0     1
349.0     1
344.0     1
328.0     1
307.0     1
300.0     2
296.0     1
292.0     1
289.0     1
288.0     2
252.0     1
240.0     2
216.0     2
208.0     1
206.0     1
203.0     1
197.0     1
196.0     2
192.0     5
188.0     1
185.0     1
180.0     1
168.0     2
164.0     1
162.0     1
160.0     2
147.0     1
146.0     1
145.0     1
144.0     3
143.0     1
141.0     1
140.0     2
139.0     1
127.0     1
120.0     4
117.0     1
116.0     1
106.0     1
105.0     1
104.0     1
100.0     4
84.0      1
78.0      1
44.0      1
36.0      1
33.0      1
24.0      1
0.0      78
Name: WoodDeckSF, dtype: int64

---

### Variables to consider dropping

#### EnclosedPorch - Enclosed porch area in square feet
This variable contains more than 90% null values in the house price dataset. In the inherited dataset the value for this variable is 0 for all 4 properties, meaning the porch is not enclosed. Based on this variable will add no value to the sale price analysis.

#### WoodDeckSF - Wood deck area in square feet
This variable contains 89% null values in the house price dataset. In the inherited dataset this field contains valid values, however, due to the lack of comparative data this variable may add no value at all. Furthermore, doing a value count shows the data contains diverse sizes and not enough uniqueness, and little to no exact matches to the inherited house dataset

In [9]:
df = df.drop(['EnclosedPorch', 'WoodDeckSF'], axis=1)
df.head()

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,GarageArea,GarageFinish,GarageYrBlt,...,LotArea,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,YearBuilt,YearRemodAdd,SalePrice
0,856,854.0,3.0,No,706,GLQ,150,548,RFn,2003.0,...,8450,65.0,196.0,61,5,7,856,2003,2003,208500
1,1262,0.0,3.0,Gd,978,ALQ,284,460,RFn,1976.0,...,9600,80.0,0.0,0,8,6,1262,1976,1976,181500
2,920,866.0,3.0,Mn,486,GLQ,434,608,RFn,2001.0,...,11250,68.0,162.0,42,5,7,920,2001,2002,223500
3,961,NaN,NaN,No,216,ALQ,540,642,Unf,1998.0,...,9550,60.0,0.0,35,5,7,756,1915,1970,140000
4,1145,NaN,4.0,Av,655,GLQ,490,836,RFn,2000.0,...,14260,84.0,350.0,84,5,8,1145,2000,2000,250000

In [10]:
df_inherited = df_inherited.drop(['EnclosedPorch', 'WoodDeckSF'], axis=1)
df_inherited.head()

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,GarageArea,GarageFinish,GarageYrBlt,...,KitchenQual,LotArea,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,YearBuilt,YearRemodAdd
0,896,0,2,No,468.0,Rec,270.0,730.0,Unf,1961.0,...,TA,11622,80.0,0.0,0,6,5,882.0,1961,1961
1,1329,0,3,No,923.0,ALQ,406.0,312.0,Unf,1958.0,...,Gd,14267,81.0,108.0,36,6,6,1329.0,1958,1958
2,928,701,3,No,791.0,GLQ,137.0,482.0,Fin,1997.0,...,TA,13830,74.0,0.0,34,5,5,928.0,1997,1998
3,926,678,3,No,602.0,GLQ,324.0,470.0,Fin,1998.0,...,Gd,9978,78.0,20.0,36,6,6,926.0,1998,1998

---

### Get null value count on the house price dataset

In [11]:
df.isna().sum()

1stFlrSF          0
2ndFlrSF         86
BedroomAbvGr     99
BsmtExposure      0
BsmtFinSF1        0
BsmtFinType1    114
BsmtUnfSF         0
GarageArea        0
GarageFinish    162
GarageYrBlt      81
GrLivArea         0
KitchenQual       0
LotArea           0
LotFrontage     259
MasVnrArea        8
OpenPorchSF       0
OverallCond       0
OverallQual       0
TotalBsmtSF       0
YearBuilt         0
YearRemodAdd      0
SalePrice         0
dtype: int64

---

### Variables to consider transforming or imputing

#### 2ndFlrSF - Second floor square feet

* Inspect `2ndFlrSF` variable

In [12]:
df['2ndFlrSF'].value_counts().sort_index()

0.0       781
110.0       1
167.0       1
192.0       1
208.0       1
         ...
1611.0      1
1796.0      1
1818.0      1
1872.0      1
2065.0      1
Name: 2ndFlrSF, Length: 401, dtype: int64

* `86` variables of `1460` contain null values. It appears that if there is no second floor the value would be set to `0`. More than 50% of values for this variable are 0. Therefore one may deduce imputing the null values with 0 would add value.
* We prepare the pipeline to use `ArbitraryNumberImputer` to impute `0` into the null variables

---

#### BedroomAbvGr - Bedrooms above grade (does NOT include basement bedrooms)

* Inspect `BedroomAbvGr` variable

In [13]:
df['BedroomAbvGr'].value_counts().sort_index()

0.0      6
1.0     46
2.0    333
3.0    749
4.0    199
5.0     20
6.0      7
8.0      1
Name: BedroomAbvGr, dtype: int64

* `99` variables of `1460` contain null values. A value count shows that only 6 records have a `0` for this variable. All 4 inherited properties contain values above zero. Imputing the null values with 0 may have no effect on the sales price analysis.
* We prepare the pipeline to use `ArbitraryNumberImputer` to impute `0` into the null variables

---

In [14]:
from feature_engine.imputation import ArbitraryNumberImputer
from sklearn.pipeline import Pipeline

pipeline = Pipeline([
      ( '2ndFlrSF',  ArbitraryNumberImputer(arbitrary_number=0,
                                                variables=['2ndFlrSF', 'BedroomAbvGr']) )
])
pipeline

Pipeline(steps=[('2ndFlrSF',
                 ArbitraryNumberImputer(arbitrary_number=0,
                                        variables=['2ndFlrSF',
                                                   'BedroomAbvGr']))])

In [15]:
# pipeline.fit(df)
# df = pipeline.transform(df)
df = pipeline.fit_transform(df)

In [16]:
df.isna().sum()

1stFlrSF          0
2ndFlrSF          0
BedroomAbvGr      0
BsmtExposure      0
BsmtFinSF1        0
BsmtFinType1    114
BsmtUnfSF         0
GarageArea        0
GarageFinish    162
GarageYrBlt      81
GrLivArea         0
KitchenQual       0
LotArea           0
LotFrontage     259
MasVnrArea        8
OpenPorchSF       0
OverallCond       0
OverallQual       0
TotalBsmtSF       0
YearBuilt         0
YearRemodAdd      0
SalePrice         0
dtype: int64

---

#### BsmtFinType1 - Rating of basement finished area

* Inspect `BsmtFinType1` variable

In [17]:
df['BsmtFinType1'].value_counts().sort_index()

ALQ     202
BLQ     136
GLQ     385
LwQ      70
None     31
Rec     126
Unf     396
Name: BsmtFinType1, dtype: int64

* Inspect `BsmtExposure` variable

In [18]:
df['BsmtExposure'].value_counts().sort_index()

Av      221
Gd      134
Mn      114
No      953
None     38
Name: BsmtExposure, dtype: int64

In [19]:
df[df['BsmtFinType1'].isna()].query('BsmtExposure=="None"').sort_values(by=['BsmtExposure'])

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,GarageArea,GarageFinish,GarageYrBlt,...,LotArea,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,YearBuilt,YearRemodAdd,SalePrice
90,1040,0.0,2.0,None,0,NaN,0,420,Unf,1950.0,...,7200,60.0,0.0,29,5,4,0,1950,1950,109900
182,1340,0.0,3.0,None,0,NaN,0,252,NaN,1957.0,...,9060,60.0,98.0,0,6,5,0,1957,2006,120000
362,495,1427.0,4.0,None,0,NaN,0,672,RFn,2003.0,...,7301,64.0,500.0,0,5,7,0,2003,2003,198500
736,1040,0.0,2.0,None,0,NaN,0,400,Unf,1949.0,...,8544,60.0,0.0,0,4,3,0,1950,1950,93500
1049,930,0.0,2.0,None,0,NaN,0,308,Unf,1946.0,...,11100,60.0,0.0,0,7,4,0,1946,2006,84900
1179,1124,0.0,3.0,None,0,NaN,0,0,None,NaN,...,8335,77.0,0.0,36,5,5,0,1954,1954,93000

* `114` variables of `1460` contain null values. There are only `31` properties with no basement.
* `BsmtExposure` however contains no null variables and on comparing the two fields I established that there are `6` rows are set to `None`, meaning that they have no basement, where `BsmtFinType1` is null. For these 6 rows the `BsmtFinType1` variable may be imputed with `None`.

In [20]:
query_condition = (df.BsmtExposure == 'None') & (df['BsmtFinType1'].isnull())
df['BsmtFinType1'] = np.where(query_condition, 'None', df['BsmtFinType1'])

In [21]:
df[df['BsmtFinType1'].isna()].query('BsmtExposure=="None"').sort_values(by=['BsmtExposure'])

Empty DataFrame
Columns: [1stFlrSF, 2ndFlrSF, BedroomAbvGr, BsmtExposure, BsmtFinSF1, BsmtFinType1, BsmtUnfSF, GarageArea, GarageFinish, GarageYrBlt, GrLivArea, KitchenQual, LotArea, LotFrontage, MasVnrArea, OpenPorchSF, OverallCond, OverallQual, TotalBsmtSF, YearBuilt, YearRemodAdd, SalePrice]
Index: []

[0 rows x 22 columns]

In [22]:
df['BsmtFinType1'].isna().sum()

108

---

* Inspect `BsmtFinSF1` variable. Type 1 finished square feet

In [23]:
df[df['BsmtFinType1'].isna()].query('BsmtFinSF1==0').sort_values(by=['BsmtFinSF1'])

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,GarageArea,GarageFinish,GarageYrBlt,...,LotArea,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,YearBuilt,YearRemodAdd,SalePrice
22,1795,0.0,3.0,No,0,NaN,1777,534,RFn,2002.0,...,9742,75.0,281.0,159,5,8,1777,2002,2002,230000
1408,741,622.0,3.0,No,0,NaN,622,528,Unf,1966.0,...,7740,60.0,0.0,0,7,4,622,1910,1950,125500
1379,754,640.0,3.0,No,0,NaN,384,400,Fin,2007.0,...,9735,73.0,0.0,0,5,5,384,2006,2007,167500
1375,1571,0.0,3.0,Gd,0,NaN,1571,722,Fin,2007.0,...,10991,89.0,80.0,36,5,8,1571,2007,2007,239000
1342,1284,885.0,3.0,No,0,NaN,1284,647,RFn,2002.0,...,9375,NaN,149.0,87,5,8,1284,2002,2002,228500
1337,693,0.0,2.0,No,0,NaN,693,0,None,NaN,...,4118,153.0,0.0,20,4,4,693,1941,1950,52500
1318,1787,0.0,3.0,Gd,0,NaN,1753,748,RFn,2001.0,...,14781,NaN,178.0,150,5,8,1753,2001,2002,275000
1219,672,546.0,3.0,No,0,NaN,672,0,None,NaN,...,1680,21.0,236.0,0,5,6,672,1971,1971,91500
1203,1630,0.0,3.0,No,0,NaN,1630,451,Unf,2000.0,...,9750,75.0,171.0,234,5,7,1630,2000,2001,213000
1202,884,464.0,3.0,No,0,NaN,884,216,Unf,1960.0,...,6000,50.0,0.0,0,8,5,884,1925,1997,117000
1082,1459,0.0,3.0,No,0,NaN,1459,527,RFn,2002.0,...,8749,70.0,100.0,39,5,7,1459,2002,2002,192000
1051,1316,0.0,3.0,Av,0,NaN,1316,440,Fin,2007.0,...,11175,103.0,0.0,20,5,7,1316,2007,2007,200141
965,783,701.0,3.0,No,0,NaN,783,393,Fin,2005.0,...,10237,65.0,0.0,72,5,6,783,2005,2007,178900
890,672,252.0,0.0,Mn,0,NaN,672,576,Unf,2003.0,...,8064,60.0,0.0,0,7,5,672,1949,2006,122900
866,1646,0.0,3.0,Av,0,NaN,1638,870,RFn,2007.0,...,10656,67.0,274.0,80,5,8,1638,2006,2007,248900
805,1428,0.0,3.0,No,0,NaN,1417,554,RFn,2008.0,...,12274,91.0,256.0,60,5,7,1417,2008,2008,227680
742,1349,0.0,3.0,No,0,NaN,1349,539,Unf,2000.0,...,8450,65.0,108.0,55,5,7,1349,2000,2001,179000
716,1576,978.0,3.0,No,0,NaN,718,704,Unf,1996.0,...,10800,60.0,0.0,48,8,7,718,1890,1998,159500
101,977,755.0,3.0,No,0,NaN,741,476,Fin,1985.0,...,9206,77.0,336.0,46,5,6,741,1985,1985,178000
124,1586,0.0,3.0,No,0,NaN,1362,435,Unf,1979.0,...,17043,48.0,0.0,0,5,6,1362,1979,1998,181000
157,774,1194.0,4.0,No,0,NaN,774,680,Fin,2009.0,...,12003,92.0,84.0,75,5,8,774,2009,2010,269500
243,626,591.0,3.0,No,0,NaN,626,288,RFn,1980.0,...,10762,75.0,0.0,28,6,6,626,1980,1980,120000
248,840,828.0,3.0,No,0,NaN,840,500,RFn,2003.0,...,11317,72.0,101.0,68,5,7,840,2003,2003,180000
374,847,1081.0,4.0,No,0,NaN,847,434,Fin,2003.0,...,8200,65.0,0.0,48,5,7,847,2003,2004,219500
1423,1575,626.0,4.0,Av,0,NaN,697,432,Unf,1966.0,...,19690,NaN,0.0,236,7,6,697,1966,1966,274970
394,735,299.0,2.0,No,0,NaN,735,240,Unf,1940.0,...,10134,60.0,0.0,39,6,5,735,1940,1950,109000
431,1088,110.0,4.0,No,0,NaN,901,0,NaN,NaN,...,5586,60.0,0.0,98,7,6,901,1920,1998,79900
573,774,656.0,3.0,No,0,NaN,384,400,RFn,2000.0,...,9967,76.0,0.0,0,5,7,384,2000,2000,170000
581,2042,0.0,3.0,No,0,NaN,2042,1390,RFn,2009.0,...,12704,98.0,306.0,90,5,8,2042,2008,2009,253293
584,989,584.0,3.0,No,0,NaN,884,240,Unf,1935.0,...,6120,51.0,0.0,0,7,4,884,1935,1995,133000
601,780,595.0,3.0,No,0,NaN,780,544,Unf,1979.0,...,9000,50.0,0.0,162,6,6,780,1937,1950,141000
653,756,713.0,3.0,No,0,NaN,756,216,Unf,1906.0,...,10320,60.0,0.0,0,7,6,756,1906,1995,135000
422,988,0.0,2.0,No,0,NaN,988,520,RFn,1954.0,...,21750,100.0,0.0,0,5,5,988,1954,1954,113000
1435,1537,0.0,3.0,No,0,NaN,1319,462,RFn,1962.0,...,8400,80.0,237.0,36,9,6,1319,1962,2005,174000

* Next we look at `BsmtFinSF1` which contains no null variables. We search for `BsmtFinType1` with nulls and `BsmtFinSF1` with value `0`, meaning `0` finished square feet, which means unfinished. We find there are 34 records. Therefore, we can impute these records with `Unf` which means unfinished for `BsmtFinType1` variable.

In [24]:
query_condition = (df.BsmtFinSF1 == 0) & (df['BsmtFinType1'].isnull())
df['BsmtFinType1'] = np.where(query_condition, 'None', df['BsmtFinType1'])

In [25]:
df[df['BsmtFinType1'].isna()].query('BsmtFinSF1==0').sort_values(by=['BsmtFinSF1'])

Empty DataFrame
Columns: [1stFlrSF, 2ndFlrSF, BedroomAbvGr, BsmtExposure, BsmtFinSF1, BsmtFinType1, BsmtUnfSF, GarageArea, GarageFinish, GarageYrBlt, GrLivArea, KitchenQual, LotArea, LotFrontage, MasVnrArea, OpenPorchSF, OverallCond, OverallQual, TotalBsmtSF, YearBuilt, YearRemodAdd, SalePrice]
Index: []

[0 rows x 22 columns]

In [26]:
df['BsmtFinType1'].isna().sum()

74

---

* Inspect `GarageFinish` variable. Interior finish of the garage

In [27]:
df['GarageFinish'].isna().sum()

162

* There are `162` null variables for `GarageFinish`

In [28]:
df['GarageFinish'].value_counts().sort_index()

Fin     313
None     73
RFn     366
Unf     546
Name: GarageFinish, dtype: int64

In [29]:
df.loc[df.GarageFinish=="None",'GarageArea'].value_counts()

0    73
Name: GarageArea, dtype: int64

* We found above, where `GarageFinish=="None"`, meaning there is no garage, we also find `GarageArea` to be `0`.

In [30]:
df.loc[df.GarageFinish.isnull(),'GarageArea'].value_counts()

0      8
440    7
240    4
308    4
484    3
      ..
866    1
529    1
696    1
678    1
840    1
Name: GarageArea, Length: 124, dtype: int64

* Therefore, where `GarageFinish` is null we can check if `GarageArea` is `0` and if so we can impute `None` on `GarageFinish`.
* based on the above query, only 8 rows will be affected.
* For the remaining roecords we will assume that the garages are unfinished and hence impute `Unf` on `GarageFinish`.

In [31]:
query_condition = (df.GarageArea == 0) & (df['GarageFinish'].isnull())
df['GarageFinish'] = np.where(query_condition, 'None', df['GarageFinish'])

In [32]:
df['GarageFinish'].isna().sum()

154

In [33]:
from feature_engine.imputation import CategoricalImputer
pipeline = Pipeline([
      ( 'categorical_imputer', CategoricalImputer(imputation_method='missing',
                                                  fill_value='Unf',
                                                  variables=['GarageFinish']) )
])
pipeline

Pipeline(steps=[('categorical_imputer',
                 CategoricalImputer(fill_value='Unf',
                                    variables=['GarageFinish']))])

In [34]:
df = pipeline.fit_transform(df)

In [35]:
df['GarageFinish'].isna().sum()

0

---

* Inspect `GarageYrBlt` variable. Year garage was built

In [36]:
df['GarageYrBlt'].isna().sum()

81

In [37]:
df['GarageYrBlt'].value_counts().sort_index()

1900.0     1
1906.0     1
1908.0     1
1910.0     3
1914.0     2
          ..
2006.0    59
2007.0    49
2008.0    29
2009.0    21
2010.0     3
Name: GarageYrBlt, Length: 97, dtype: int64

In [38]:
df.loc[df.GarageYrBlt.isnull(),'GarageFinish'].value_counts()

None    81
Name: GarageFinish, dtype: int64

In [39]:
df[df.GarageFinish=='None']

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,GarageArea,GarageFinish,GarageYrBlt,...,LotArea,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,YearBuilt,YearRemodAdd,SalePrice
39,1152,0.0,0.0,None,0,None,0,0,None,NaN,...,6040,65.0,0.0,0,5,4,0,1955,1955,82000
48,736,716.0,2.0,No,0,Unf,736,0,None,NaN,...,4456,33.0,0.0,0,5,4,736,1920,2008,113000
78,1768,0.0,4.0,No,0,Unf,1768,0,None,NaN,...,10778,72.0,0.0,0,5,4,1768,1968,1968,136500
88,1013,0.0,2.0,No,0,Unf,1013,0,None,NaN,...,8470,105.0,0.0,0,2,3,1013,1915,1982,85000
89,990,0.0,3.0,No,588,NaN,402,0,None,NaN,...,8070,60.0,0.0,0,5,4,990,1994,1995,123600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,938,1215.0,4.0,No,259,LwQ,425,0,None,NaN,...,5250,50.0,0.0,54,5,8,684,1872,1987,122000
1407,833,0.0,3.0,No,625,NaN,208,0,None,NaN,...,8780,NaN,0.0,0,5,5,833,1985,1985,112000
1449,630,0.0,1.0,Av,553,GLQ,77,0,None,NaN,...,1533,21.0,0.0,0,7,5,630,1970,1970,92000
1450,896,896.0,4.0,No,0,Unf,896,0,None,NaN,...,9000,60.0,0.0,45,5,5,896,1974,1974,136000
1453,1140,0.0,3.0,No,0,Unf,1140,0,None,NaN,...,17217,90.0,0.0,56,5,5,1140,2006,2006,84500

* We note there `81` null records for the `GarageYrBlt` and where the this variable is null `GarageFinish` is `None` meaning there is no garage.
* At this time there is nothing that can be done to enhance this field's analytical value

---

# Push files to Repo

* In case you don't need to push files to Repo, you may replace this section for "Conclusions and Next Steps" and state your conclusions and next steps.

In [40]:
import os
try:
  os.makedirs(name='outputs/datasets') # create outputs/datasets/collection folder
except Exception as e:
  print(e)

* output the clean datasets to csv files into the outputs/datasets folder
* ./outputs/datasets/clean_house_prices_records.csv
* ./outputs/datasets/clean_inherited_houses.csv

In [41]:
df.to_csv("outputs/datasets/clean_house_prices_records.csv", index=False)

In [42]:
df_inherited.to_csv("outputs/datasets/clean_inherited_houses.csv", index=False)

---

# Conclusions and Next Steps

* Now we move on to the sales price study

---